.input-row {
  display: flex;
  align-items: center;
}

.input-text-field {
  background-color: #eaebee;
  border: 0px;
}

.input-text-field:focus {
  background-color: #fcfcfc;
  border: 0px;
  box-shadow: inset 0 0 0 2px rgb(234 235 238);
}

.add-button {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: white;
  background: #22b670;
  border: 0;
  border-radius: 500px;
  height: 35px;
  width: 38px;
  font-family: "Chango", cursive;
}

.row-of-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-button {
  height: 35px;
  width: 35px;
  border: none;
  background: none;
}
